@use '../../global.scss'as *;

.filter-item {
  width: 100%;
  height: 100%;
  list-style: none;

  &__button {
    outline-color: $main-color;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    font-size: $main-font-rem;
    font-family: $main-font-family;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 6px $main-padding;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: $main-white;
    color: $main-color;

    &:hover {
      background-color: $secondary-blue;
      color: $main-color;
    }

    &--active {
      background-color: $main-color;
      color: $main-white;
    }
  }
}