@use '../../global.scss'as *;

.menu-item {
  width: 100%;
  height: 100%;
  list-style: none;

  &__link {
    box-sizing: border-box;
    font-size: $main-font-rem + rem;
    font-family: $main-font-family;
    cursor: pointer;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0px 16px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: $main-white;
    color: $main-color;
    text-decoration: none;

    &:hover,
    &:focus {
      outline: none;
      background-color: $secondary-blue;
      color: $main-color;
    }

    &--active {
      background-color: $main-color;
      color: $main-white;
    }
  }
}