@use '../../global.scss'as *;

.search {
  height: 64px;
  position: relative;
  display: flex;
  align-items: center;

  &__input {
    outline-color: $main-color;
    flex-grow: 1;
    border: none;
    background-color: $alternative-gray-light;
    color: $main-color;
    font-size: $main-font-rem;
    height: 100%;
    padding-left: 56px;

    &::placeholder {
      color: $main-gray;
    }
  }


  &__icon {
    position: absolute;
    display: flex;
    align-items: center;
    left: 20px;
    pointer-events: none;
  }
}