@font-face {
  font-family: 'Avenir';
  src: url('/be9a43357e0fe07642191e4b32995385.eot') format('eot');
  src: url('/be9a43357e0fe07642191e4b32995385.woff2') format('woff2'),
    url('/be9a43357e0fe07642191e4b32995385.woff') format('woff'),
    url('/be9a43357e0fe07642191e4b32995385.ttf') format('truetype'),
    url('/be9a43357e0fe07642191e4b32995385.svg') format('svg');
}

$main-color: #fe3e6d;
$main-white: #ffffff;
$main-black: #3b3b3b;
$main-gray: #6b7076;
$main-blue: #1a93da;
$secondary-blue: #eaf7ff;
$secondary-gray: #c7cbcf;
$alternative-gray: #dee4e9;
$alternative-gray-light: #f0f4f8;

$main-font-family: 'Avenir';

$main-font-size-extra-small: 12px;
$main-font-size-small: 14px;
$main-font-size: 16px;
$main-font-size-big: 22px;

@function pxToRem($px) {
  @return $px / $main-font-size+rem;
}

$main-font-rem: pxToRem($main-font-size);
$main-font-rem-extra-small: pxToRem($main-font-size-extra-small);
$main-font-rem-small: pxToRem($main-font-size-small);
$main-font-rem-big: pxToRem($main-font-size-big);

$main-font-weight: 400;
$main-font-weight-bold: 800;

$boxed-width: 1035px;

$main-padding: 16px;

$main-border-radius: 16px;
$main-border-radius-big: calc($main-border-radius * 2);