@font-face {
  font-family: 'Avenir';
  src: url('/fonts/be9a43357e0fe07642191e4b32995385.eot') format('eot');
  src: url('/fonts/be9a43357e0fe07642191e4b32995385.woff2') format('woff2'),
    url('/fonts/be9a43357e0fe07642191e4b32995385.woff') format('woff'),
    url('/fonts/be9a43357e0fe07642191e4b32995385.ttf') format('truetype'),
    url('/fonts/be9a43357e0fe07642191e4b32995385.svg') format('svg');
}

$main-color: #fe3e6d;
$main-white: #ffffff;
$main-black: #3b3b3b;
$main-gray: #6b7076;
$main-blue: #1a93da;
$secondary-blue: #eaf7ff;
$secondary-gray: #c7cbcf;
$alternative-gray: #dee4e9;
$alternative-gray-light: #f0f4f8;

$main-font-family: 'Avenir';

$main-font-size: 16px;
$main-font-size-small: 14px;
$main-font-size-big: 22px;

$main-font-rem: calc($main-font-size / $main-font-size)+rem;
$main-font-rem-small: calc($main-font-size-small / $main-font-size)+rem;
$main-font-rem-big: calc($main-font-size-big / $main-font-size)+rem;

$main-font-weight: 400;
$main-font-weight-bold: 800;

$boxed-width: 1035px;

$small-screen-padding: 20px;

@mixin boxed-small-screen {
  max-width: calc($boxed-width + $small-screen-padding);
  padding-left: $small-screen-padding;
}